<!DOCTYPE html>
<html ng-app="root">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lade Dramen, Operetten, Lustspiele, Belletristik! 
      Open Data Bay - Die kulturell anspruchsvollste BitTorrent-Seite der Galaxie</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body><div ng-controller="index">         
    
    
    <div class="container" ng-if="!model.showPorno">
      <div class="row">
        <div class="col-xs-12">
          <div id="logo">
            <a href="http://www.c-base.org/projects/c-atre/?page_id=9"><img src="images/logo.png" width="275"/></a>
          </div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      
      <div class="row">
        <div class="col-xs-12">
          <div id="toplinks" class="linklist">
             <strong>Torrents suchen</strong> |
             <a href="#">Torrent-Verzeichnis blättern</a> | 
             <a href="#">Frische Torrents</a> | 
             <a href="#">Belletristik</a> | 
             <a href="#">Drama</a> | 
             <a href="#">Top 100</a>
          </div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      
      <div class="row">
        <div class="col-xs-12">
          <div id="logo">
            <input name="q" id="search" type="search" title="OpenData-Suche" placeholder="OpenData-Suche" autofocus="" />
          </div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      
      <div class="row">
        <div class="col-xs-12">
          <div id="check">
            <span id="ch1" class="check"><input type="checkbox" ng-model="model.isAll" ng-click="clickAll()"/>Alle</span>
            <span id="ch2" class="check"><input type="checkbox" ng-model="model.isOpera" ng-click="clickAny()"/>Opern</span></span>
            <span id="ch3" class="check"><input type="checkbox" ng-model="model.isOperette" ng-click="clickAny()"/>Operetten</span>
            <span id="ch4" class="check"><input type="checkbox" ng-model="model.isDrama" ng-click="clickAny()"/>Dramen</span>
            <span id="ch5" class="check"><input type="checkbox" ng-model="model.isFiction" ng-click="clickAny()"/>Belletristik</span>
            <span id="ch6" class="check"><input type="checkbox" ng-model="model.isPorno" ng-click="clickAny()"/>Porno</span>
            <span id="ch7" class="check"><input type="checkbox" ng-model="model.isStuff" ng-click="clickAny()"/>Sonstiges</span>            
          </div>                 
          
        </div><!-- /.col -->
      </div><!-- /.row -->
      
      <div class="row">
        <div class="col-xs-12">
          <div id="buttons">
            <input type="submit" value="OpenData-Suche" ng-click="doSearch()"/>
            <input type="submit" value="Kulturschock" ng-click="doSearch()" />
          </div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      
      <div class="row">
        <div class="col-xs-12">
          <div id="how">
            <strong>Für die Bewegung. Zum Runterladen. Für Alle!</strong>
          </div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <div id="bottomlinks" class="linklist">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://opendatabay.org/" data-text="Für die Bewegung. Zum Runterladen. Für Alle! Mit @c__atre." data-hashtags="cbase">Tweet</a>
            		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                  <br />
            <iframe style="width: 120px; height: 50px;" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fcollectivdrama&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
          
            <br />
            <a href="http://c-base.org/projects/c-atre">Einloggen</a> |
            <a href="http://c-base.org/projects/c-atre">Registrieren</a> |           
            <a href="http://c-base.org/projects/c-atre">Über uns</a> |
            <a href="#">Empty threats</a> |
            <a href="http://c-base.org/projects/c-atre">Blog</a> | 
            
            <a href="http://c-base.org/projects/c-atre">Kontaktiere uns</a>
            <br />
            <a href="#">Policy</a> | 
            <a href="#">Downloads</a> | 
            <a href="#">Porno-Promo</a> | 
            <a href="#">Noodles</a> | 
            <a href="#">Tag Cloud</a> | 
            <a href="#">Forum</a> | 
            <a href="#">OpenDataBrowser</a>
            <br /> 
            <a href="#">OpenDataFiles</a> | 
            <a href="#">OpenDataImg</a> | 
            <a href="#">PasteOpenData</a> | 
            <a href="#">Proxy</a> | 
            <a href="https://www.facebook.com/collectivdrama">Follow ODB on Facebook</a>
          </div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      
    </div><!-- /.container -->
    
    <div id="porno" class="container" ng-if="model.showPorno">
      <img src="images/porno.jpg" />
      <h2>Lars Eidinger, Charakterdarsteller</h2>
      <a href="#" ng-click="hidePorno()">Zurück</a>
    </div><!-- /.container -->
    
    </div><!-- /controller -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
    
    
  </body>
</html>
